.header{
    display: flex;
    background-color: white;
    z-index: 9999;
    max-width: 1440px;
}
/* This is the part that makes the header sticky  */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
}
/* ------------ */
.header > div{
    flex: 1 1 0px; 
}
.header__search{
    display: block;
    margin: auto;
}
#header__se{
    background-color: white;
    display: flex;
    margin: auto;
    border: 1px solid black;
    width: fit-content;
    justify-content: center;
    width: 65%;
}
#header__se > input{
    border: none;
    outline-width: 0;
    width: 100%;
}
.header__logo > img{
    object-fit: contain;
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.header__bu{
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.header__bu__user {
    display: flex;
    cursor: pointer;
}
.header__bu__user > h2{
    padding-right: 15px;
}
.header__bu__ic{
    display: block;
    margin: auto 0;
    font-size: 35px !important;
    cursor: pointer;
}
.header__addPic{
    background-color: rgba(255, 255, 255, .4);
}
.header__search__inside{
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}
.header__search__inside > h1{
    display: block;
    margin: auto 0;
    font-size: 20px;
    padding-left: 10px;
}