.landing {
    display: block;
    margin:  0 auto;
    max-width: 1440px;
}
.landing__content{
    display: flex;
    margin: 200px 50px 0;
}
.landing__right{
    border: 1px solid black;
    max-width: 395px;
}
.landing__right > img{
    object-fit: contain;
    max-width: 50%;
    display: block;
    margin: 30px auto 50px;
}
.landing__right > div{
    margin: 0 0 20px 50px;
    display: flex;
    justify-content: space-between;
}
.landing__right > div > input{
    margin-right: 50px;
    padding: 5px 20px;
    outline-width: 0;
    border: 1px solid black;
}
.landing__right > div > label{
    margin-left: 5  px;
    font-weight: 700;
}
.landing__right > button{
    display: block;
    margin: 50px auto 0;
    width: 219.25px;
    height: 42px;
    background-color: rgba(24, 39, 92, .92);
    color: white;
    border: 1px solid rgba(24, 39, 92, .92);
    border-radius: 7px;
    cursor: pointer;
}
.landing__right > p {
    text-align: center;
    margin-top: 75px;
    font-weight: 600;
}
.landing__right > p > span{
    text-decoration: underline;
    padding-left: 10px;
    color: #003959;
    font-weight: 800;
    cursor: pointer;
}
@media (max-width: 990px){
    .landing__left > img{
        display: none;
    }
    .landing__content{
        margin: 100px 20px 0;
    }
    .landing__right > div{
        margin: 0;
        margin: 0 0 20px;
    }
    .landing__right > div > input{
        margin-right: 20px;
        padding: 5px 20px;
        outline-width: 0;
    }
    .landing__right > p {
        margin-bottom: 20px;
    }
}
